@import "../scss/spacing.scss";
@import "../scss/colours.scss";
@import "../scss/shadows.scss";
@import "../scss/border-radius.scss";
@import "../scss/breakpoints.scss";

.Header {
  padding-top: $space-2;
  padding-bottom: $space-2;
  box-shadow: $shadow-md;

  &__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-weight: 800;
    transition: color 150ms ease-out;

    @include bp-tablet-down {
      font-size: 18px;
    }

    @include bp-mobile-down {
      font-size: 14px;
    }
  }

  button {
    background: none;
    font-family: "Nunito Sans", sans-serif;

    padding: 0px;
    border: 0px;

    display: flex;
    align-items: center;
    padding: $space-half;
    border-radius: $border-radius-sm;

    svg {
      fill: currentColor;
    }

    span {
      margin-left: $space-half;
      font-weight: 600;

      @include bp-mobile-down {
        font-size: 14px;
      }
    }

    transition: 150ms ease-out;
    transition-property: box-shadow, background-color;
  }
}

.theme-dark .Header {
  color: $white;
  background: $blue-dark;

  button {
    &:hover {
      background: $blue-darker;
      // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
    }
  }
}

.theme-light .Header {
  color: $blue-darkest;
  background: white;

  button {
    &:hover {
      background: #fefefe;
      box-shadow: $shadow-md;
    }
  }
}
