@import "./scss/colours.scss";

.App {
  min-height: 100vh;

  transition: background-color 150ms ease-out;

  &.theme-dark {
    background: $blue-darker;
  }

  &.theme-light {
    background: $grey-lightest;
  }
}
