.AspectRatio {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: calc(1 / var(--ratio) * 100%);
  background: white;

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
